body {
    margin: 0;
    padding: 0;
}

.titulo-principal {
    color: #181818;
    font: 28px Roboto, sans-serif;
    margin: 0px 0px 10px;
    font-size: 43px;
    text-align: center;
    padding-top: 55px;
}
.subtitulo-principal {
    text-align: center;
    font: 18px Roboto, sans-serif;
    color: blueviolet;
    font-size: 20px
}
.imagem-exemplo {
    border-radius: 10px;
}
.container {
    display: flex;
    justify-content: center
}
.imagem-exemplo {
   width: 370px;
}
.primeiro-texto {
    padding-left: 15px;
    font-size: 20px;
}
.container-2 {
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
    max-width: 1080px; 
    margin: 0 auto;
    padding: 20px;
}
#caracter-1 {
    color: deeppink;
}
.container-3 {
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
    max-width: 1080px; 
    margin: 0 auto;
    padding: 20px;
}
#caracter-2 {
    color: blue;
}
#caracter-3 {
    color: deeppink;
}
#caracter-4 {
    color: blue;
}
#caracter-5 {
    color: deeppink;
}
#caracter-6 {
    color: blue;
}
.div-rodape {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}