table {
    border-collapse: collapse;
    width: 1000px;
    height: 500px;
    border-radius: 3px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #666;
}

tr, td {
    border: 1px solid black;
    padding-left: 6px;
}
thead {
    height: 50px;
}
tbody > tr:nth-child(odd) {
    background-color: aquamarine;
}
@media (max-width: 600px) {
    table {
        width: 100%;
    }
}